.contactBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 200px;
  padding: 20px;
  border-radius: 20px;
  background-color: #202020;
  gap: 10px;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

      -ms-flex-direction: column;

          flex-direction: column;
  
  transition: 0.2s;
}

.contactBlock .contactIcon {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #3b3b3b;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.contactIcon.mail {
  background-image: url("/mail.svg");
}

.contactIcon.megaphone {
  background-image: url("/megaphone.svg");
}

.contactBlock h3 {
  margin: 0;
  font-size: 24px;
}

.contactBlock p {
  margin: 0;
  line-height: 1.5;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}

.contactBlock a {
  color: rgb(80, 162, 230);
}