.footerWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 105px;
    width: 100%;
    background: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(40px) saturate(180%);
    backdrop-filter: blur(40px) saturate(180%);
    border-top: 0.5px solid rgba(255, 255, 255, 0.08);
    padding: 50px 0px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
  
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footerMobile {
    display: none;
}

.footerColumn {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
}

.footerColumnLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

    -webkit-box-flex: 0;

        -ms-flex: 0 1 290px;

            flex: 0 1 290px;
}

.footerColumn h5 {
    margin-top: 0;
    margin-bottom: 9px;
    font-size: 16px;
}

.footerColumn ul, .footerColumn ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footerColumn ul li {
    line-height: 32px;

    opacity: 0.5;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
}

.footerColumn a {
    color: white;
    text-decoration: none;
    -webkit-transition-duration: 0.2;
         -o-transition-duration: 0.2;
            transition-duration: 0.2;
}

.footerColumn ul li:hover {
    opacity: 1;
}

.copyright {
    margin-top: auto;
    margin-bottom: 0;
    opacity: 0.5;

    font-size: 14px;
}


@media (max-width: 1092px) {

    .footerWrapper {
        padding: 16px 0px;
    }

    .footer {
        display: none;
    }

    .footerColumn h5 {
        margin: 0;

        font-size: 12px;
        font-weight: normal;
        text-transform: uppercase;
    }

    .footerMobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -ms-flex-line-pack: justify;

            align-content: space-between;
        gap: 16px;
    }

}