.navWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 66px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 10;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.navLinks {
    margin-right: 0;
    margin-left: auto;
}
  
.navLinks a {
    margin: 0 10px;
    padding: 10px 16px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    opacity: 0.9;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.navLinks a:hover {
    opacity: 1;
}

.navLinks a:last-child {
    margin: 0;
}


@media (max-width: 480px) {

    .navLinks a:nth-child(-n + 1) {
      display: none;
    }

}