html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  color: white;
  background-color: #171717;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 16px;
  width: 100%;
  max-width: 1092px;
}

.wrapper {
  min-height: 100%;
}

.main-wrapper {
  display: flex;
  width: 100%;

  justify-content: center;
  overflow-x: hidden;
}

.main {
  display: flex;

  flex-direction: column;
  align-items: center;
  gap: 105px;
}


@media (max-width: 1092px) {

  .container {
    max-width: 750px;
  }

}